.wrap {
    display:flex;
    position: absolute;
    gap:20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction:column;
    align-items: center;
}

.logo {
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

#invoker {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, .2);
    padding: 25px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 20px;

}
#invoker label{
    display: block;
	margin-bottom: 8px;
    display:inline-block;
    text-align: center;
}

#invoker select,input {
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 5px;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}


#invoke-btn {
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
    border-radius: 25px;
    cursor: pointer;
}

#invoke-btn:hover {
    background: #109177;
}
    



